.StepIcon {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
@media (min-width: 600px) {
  .StepIcon {
    margin: 0.75rem 0.75rem 0 0;
  }
}
.StepIcon svg {
  height: 2rem;
  width: 2rem;
  color: #06893a;
}
.StepIcon__active,
.StepIcon__not-started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}
.StepIcon__active {
  color: white;
  background-color: #0041a8;
  transform: scale(1.2);
}
.StepIcon__not-started {
  background-color: #e9e7e7;
  box-shadow: 0 0 0 1px #59514b inset;
}
