.AvbruttOversikt .alertstripe {
  margin-bottom: 4.5rem;
}
.AvbruttOversikt .InfoPanel {
  margin-bottom: 1rem;
}
.AvbruttOversikt .InfoExpandablePanel {
  margin-bottom: 1rem;
}
.AvbruttOversikt .typo-normal:not(:last-child) {
  margin-bottom: 0.5rem;
}
.AvbruttOversikt .knapp--hoved {
  margin-top: 1.5rem;
}
