@app-max-width: 800px;
@banner-color: #c1b5d0;

@mobile-breakpoint: 600px;

// NAV color variables (from former nav-frontend-core)
@navGronn: #06893a;
@navBla: #0067c5;
@navDypBla: #0041a8;
@navLysGra: #e9e7e7;
@navGra60: #59514b;
@navGra20: #c6c2bf;
@navBakgrunn: #f1f1f1;
@navLillaLighten20: #8269a2;
@navOransje: #ff9100;
