.Page .PageAlert,
.Page .typo-sidetittel {
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .Page .PageAlert,
  .Page .typo-sidetittel {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
