.FarBekreftForm .bekreftCheckboksPanel {
  margin-bottom: 1rem;
}
.FarBekreftForm .bekreftCheckboksPanel .skjemaelement {
  margin-bottom: 0;
}
.FarBekreftForm .alertstripe {
  margin-bottom: 2.5rem;
}
