.LesOpplysningerForm .typo-systemtittel {
  margin-bottom: 2rem;
}
.LesOpplysningerForm .FarskapserklaeringPresentation {
  margin-bottom: 1rem;
}
.LesOpplysningerForm .BekreftCheckBoksPanel {
  margin-bottom: 2rem;
}
