.Oversikt {
  .typo-innholdstittel {
    margin-bottom: 1rem;
  }

  .typo-systemtittel {
    margin-bottom: 0.5rem;
  }

  .typo-normal {
    margin-bottom: 0.5rem;
  }

  .knapp--hoved {
    margin-top: 2rem;
  }
}
