.Oversikt .InfoPanel {
  margin-bottom: 1rem;
}
.Oversikt .InfoExpandablePanel {
  margin-bottom: 1rem;
}
.Oversikt .typo-normal:not(:last-child) {
  margin-bottom: 0.5rem;
}
.Oversikt .knapp--hoved {
  margin-top: 1.5rem;
}
