.Frontpage {
  padding: 2rem;

  &__section {
    margin-bottom: 1.5rem;

    .typo-undertittel {
      margin-bottom: 0.5rem;
    }

    ol {
      margin: 0;

      & > li {
        margin-bottom: 1rem;
      }
    }
  }

  .knapp--hoved {
    margin-top: 1rem;
  }

  .lenkepanel {
    padding: 2rem;
    margin-top: 2rem;

    .typo-normal {
      margin-top: 0.5rem;
      margin-right: 1rem;
    }
  }
}
