.ButtonContainer {
  margin: 1rem 0;
}
.ButtonContainer .knapp {
  width: 100%;
}
@media (min-width: 600px) {
  .ButtonContainer .knapp {
    width: unset;
  }
}
.ButtonContainer .knapp:not(:first-child) {
  margin-top: 1rem;
}
@media (min-width: 600px) {
  .ButtonContainer .knapp:not(:first-child) {
    margin-top: 0;
    margin-left: 1rem;
  }
}
