@import (reference) 'styles/variables.less';

.Banner {
  border-bottom: 5px solid #99c2e8;
  background-color: #cce1f3;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

@media @minDesktop {
  .Banner {
    padding: 3rem 2rem;
  }
}
